RewriteEngine On


RewriteRule ^Auth/Profile$ public/client/Profile.php [L]
RewriteRule ^Auth/Register$ public/client/Register.php [L]
RewriteRule ^Auth/Login$ public/client/Login.php [L]
RewriteRule ^Auth/Logout$ public/client/Logout.php [L]
RewriteRule ^Auth/ForgotPassword$ public/client/ForgotPassword.php [L]
RewriteRule ^Auth/ChangePassword$ public/client/ChangePassword.php [L]
RewriteRule ^Withdraw$ public/client/Withdraw.php [L]
RewriteRule ^Localbank$ public/client/Localbank.php [L]
RewriteRule ^History/Card$ public/client/HistoryCard.php [L]
RewriteRule ^Ket-noi-api$ public/client/Api.php [L]
RewriteRule ^Transfers$ public/client/Transfers.php [L]
RewriteRule ^Blogs$ public/client/Blogs.php [L]
RewriteRule ^Blog/([A-Za-z0-9-]+) public/client/XemBlog.php?id=$1 [L]
RewriteRule ^BuyCard$ public/client/BuyCard.php [L]
RewriteRule ^Topup$ public/client/Topup.php [L]
RewriteRule ^Bank$ public/client/Bank.php [L]
RewriteRule ^dieu-khoan-dich-vu$ public/client/dieu-khoan.php [L]
RewriteRule ^Referral$ public/client/Referral.php [L]


RewriteRule ^Admin/Home$ public/admin/Home.php [L]
RewriteRule ^Admin/Users$ public/admin/Users.php [L]
RewriteRule ^Admin/User/Edit/([A-Za-z0-9-]+) public/admin/EditUser.php?id=$1 [L]
RewriteRule ^Admin/Setting$ public/admin/Setting.php [L]
RewriteRule ^Admin/Withdraw$ public/admin/Withdraw.php [L]
RewriteRule ^Admin/Withdraw/Edit/([A-Za-z0-9-]+) public/admin/EditWithdraw.php?id=$1 [L]
RewriteRule ^Admin/Cards$ public/admin/Cards.php [L]
RewriteRule ^Admin/Transfers$ public/admin/Transfers.php [L]
RewriteRule ^Admin/Setting/Card$ public/admin/SettingCard.php [L]
RewriteRule ^Admin/Blogs$ public/admin/Blogs.php [L]
RewriteRule ^Admin/Blog/Edit/([A-Za-z0-9-]+) public/admin/EditBlog.php?id=$1 [L]
RewriteRule ^Admin/BuyCard$ public/admin/BuyCard.php [L]
RewriteRule ^Admin/Topup$ public/admin/Topup.php [L]
RewriteRule ^Admin/Bank$ public/admin/Bank.php [L]
RewriteRule ^Admin/SellCard$ public/admin/SellCard.php [L]
RewriteRule ^Admin/StoreCard/([A-Za-z0-9-]+) public/admin/StoreCard.php?id=$1 [L]